/******** TAG SELECTORS *********/

body {
  color: #40514E;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #769FCD;
  font-family: 'Sacramento', cursive;
  font-size: 6rem;
  margin-bottom: 0;
  line-height: 2;
}

h2 {
  color: #769FCD;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #3F72AF;
}

a {
  color: #3F72AF;
  margin: 10px 20px 10px 10px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-top-color: grey;
  border-width: 5px;
  margin: 70px auto 70px auto;
  width: 5%;
}

p {
  line-height: 2;
}

/******** CLASS SELECTORS *********/

.avatar {
  height: 200px;
  width: auto;
  margin-top: 50px;
  margin-bottom: 0;
}

.topContainer {
  background-color: #D6E6F2;
  position: relative;
  padding-top: 100px;
  margin-bottom: 0;
}


.topCloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottomCloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.middleContainer {
  background-color: #B9D7EA;
  position: relative;
  margin: auto;
  padding-bottom: 40px;
}

.introText {
  margin: auto;
  width: 50%;
}
.bottomContainer {
  background-color: #769FCD;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bottomContainer p {
  padding: 0;
  margin: 0;
}

.emojiLaptop {
  background-color: white;
  border-radius: 10%;
  float: left;
  margin-right: 30px;
}

.emojiArt {
  background-color: white;
  border-radius: 100%;
  float: right;
  margin-left: 30px;
  width: 15%;
}

.skillRow {
  line-height: 2;
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.contactMe {
  width: 40%;
  margin: 40px auto 40px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
